{{ define "main" }}
    <div class="h-wrap">
        <div id="hero">
            <img class="h-img" src="{{ "images/hero-top.png" | relURL }}">
            <div class="h-loop">
                <div class="h-l-group">
                    <div class="h-l-g-item">PRODUCT DOCUMENTATION</div>
                    <div class="h-l-g-item">ENDPOINTS</div>
                    <div class="h-l-g-item">RELEASE NOTES</div>
                    <div class="h-l-g-item">TEMPLATES</div>
                    <div class="h-l-g-item">PROCEDURES</div>
                    <div class="h-l-g-item">GUIDELINES</div>
                </div>
                <div aria-hidden="true" class="h-l-group">
                    <div class="h-l-g-item">PRODUCT DOCUMENTATION</div>
                    <div class="h-l-g-item">ENDPOINTS</div>
                    <div class="h-l-g-item">RELEASE NOTES</div>
                    <div class="h-l-g-item">TEMPLATES</div>
                    <div class="h-l-g-item">PROCEDURES</div>
                    <div class="h-l-g-item">GUIDELINES</div>
                </div>
            </div>
            <img class="h-img" src="{{ "images/hero-bottom.png" | relURL }}">
        </div>
        <div class="h-b-wrap">
            <a href="/samples"><button class="h-b">see writing samples</button></a>
            <a href="/resume"><button class="h-b">see resume</button></a>
            <br>
            <div class="sm-buttons">
                <div class="sm-b">
                    <a href="https://github.com/terriblewithnicknames/twsamples" target="_blank" rel="noopener noreferrer"><img src="{{ "images/gh-logo.png" | relURL }}" height="21px"></a>
                </div>
                <div class="sm-b">
                    <a href="https://linkedin.com/in/andrii-halkin" target="_blank" rel="noopener noreferrer"><img src="{{ "images/in-logo.png" | relURL }}" height="25px"></a>
                </div>
            </div>
        </div>
    </div>
{{ end }}