<h3>Key achievements</h3>
<hr>
<div id="r-b-1">
    <div class="r-b-i">
        <b>Data migration</b>
        <p>Spearheaded a company-wide documentation overhaul,
        migrating critical knowledge into new platforms like
        Confluence, Notion, and internal wikis, improving
        accessibility and closing procedural blindspots for 60+
        team members.</p>
    </div>
    <div class="r-b-i">
        <b>Data Maintenance</b>
        <p>Authored and maintained extensive platform
        documentation spanning 10+ years, consolidating
        historical content into structured, searchable repositories,
        ensuring accuracy and usability for internal and external
        stakeholders.</p>
    </div>
    <div class="r-b-i">
        <b>Content Management</b>
        <p>Designed and implemented content management
        workflows and operational tools, enhancing HR and
        procurement processes and enabling teams to access up-
        to-date information efficiently across multiple platforms.</p>
    </div>
    <div class="r-b-i">
        <b>Data Optimization</b>
        <p>Optimized the employee onboarding process by creating
        clear, step-by-step guides and playbooks in collaborative
        tools, reducing onboarding cycle time by 30% and
        improving transparency for new hires.</p>
    </div>
</div>
<h3>Languages</h3>
<hr>
<div class="cv-lng">
    <div>Ukrainian</div>
    <div class="cv-lng-lvl">Native</div>
    <div>English</div>
    <div class="cv-lng-lvl">Proficient</div>
    <div>Russian</div>
    <div class="cv-lng-lvl">Native</div>
</div>